*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container{
  width: 90%;
  margin: 0 auto;
}
body{
  font-family: "Raleway", sans-serif;

}
a{
  text-decoration: none;
  transition: .4s;
  color: white;
}
button{
  cursor: pointer;
  border: none;
  outline: none;
  transition: .4s;
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import "src/style/AuthForm";
@import "src/style/RegisterForm";
@import "src/style/LorbyForm";
@import "src/style/AuthLetter";

